###.gitignore
```gitignore
# Snakemake
.snakemake/
.pytest_cache/

# Data and results
#data/raw/
#data/processed/
#results/

# Environments
envs/
conda_envs/

# IDE
.vscode/
.idea/

# Logs
logs/

# System
.DS_Store
*.swp

# Temporary files
*.tmp
*.bai
*.bam
*.sam

# AWS
*.aws_credentials
